body{
	font: 15px/1.5 Arial;
	padding: 0;
	margin: 0;
	background-color: white;
}

/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*Header*/
header{
	color: #eb3c00;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #eb3c00 5px solid;
}

p1{
	color: #484848;
}

header a{
	color: #484848;
	text-decoration: none;
	font-size: 16px;
}

header a:active{ 
    color: #eb3c00;
}

header a:hover{
	color: #eb3c00;
}

header a:selected{
	color:#eb3c00;
}

header ul{
	border-top: #484848  2px solid; 
	margin: 0;
	padding: 0;
}

header li{
	float: left;
	display: inline;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
	list-style: none;
}

#newsletter{
	padding: 15px;
	background-color: #eb3c00;
	color: white;
}